body {
  margin: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: black;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}